<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <p>Player Name:{{Name}}</p>
    <p>Position:{{position}}</p>
    <img src="img/mudryk.jpg">
</body>

</html>